buildtime_*.log
*.DS_Store
*.xcuserdatad
._*	
*.xcuserstate
MaskCall.xcodeproj/project.xcworkspace/xcshareddata
MaskCall.xcodeproj/project.xcworkspace/xcuserdata/Nick.xcuserdatad
MaskCall.xcodeproj/project.xcworkspace/xcuserdata/jianguoli.xcuserdatad
MaskCall.xcodeproj/project.xcworkspace/xcuserdata/nick.xcuserdatad
MaskCall.xcodeproj/project.xcworkspace/xcuserdata/sheldonhan.xcuserdatad
MaskCall.xcodeproj/project.xcworkspace/xcuserdata/tony.xcuserdatad
MaskCall.xcodeproj/xcuserdata
MaskCall.xcodeproj/xcuserdata/Nick.xcuserdatad
MaskCall.xcodeproj/xcuserdata/baidu.xcuserdatad/xcschemes/IDK.xcscheme
MaskCall.xcodeproj/xcuserdata/jianguoli.xcuserdatad
MaskCall.xcodeproj/xcuserdata/nick.xcuserdatad
MaskCall.xcodeproj/xcuserdata/sheldonhan.xcuserdatad
MaskCall.xcodeproj/xcuserdata/tony.xcuserdatad
MaskCall.xcodeproj/xcshareddata/xcschemes/MaskCallPerfTests.xcscheme
MaskCall.xcodeproj/xcshareddata/xcschemes/MaskCallUITests.xcscheme

SwiftUI_Landmarks.xcodeproj/project.xcworkspace/xcuserdata/cgwli.xcuserdatad/UserInterfaceState.xcuserstate

MaskCall.xcworkspace/xcuserdata/cgwli.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

**/build
**/*.py

# pod
pods.binary
Pods
Podfile.lock

MaskCall.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MaskCall.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
MaskCall.xcworkspace/contents.xcworkspacedata

.symlinks/*
MaskCall/Resources/DebugCMD.plist
.script_phase


*.xcworkspace/

*.xcuserstate
project.xcworkspace
xcuserdata
UserInterfaceState.xcuserstate
project.xcworkspace/
xcuserdata/
UserInterface.xcuserstate



